body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form > div {
	position: relative;
	height: 35px;
	display: inline-block;
	font-size: 12px;
}

form label {
	position: absolute;
	bottom: 0;
}

.time-input {
	margin: 0px;
	width: 50px;
}

.phone-input {
	display: block;
}